body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

#cabecalho {
  position: fixed;
  border: 3px solid #aed86e;
  top: 0;
  background-color: #8fb457;
}

.lado-direito {
  float:right;
  display: block;
  width: 80%;
  padding: auto;
  height: 5;
  width: fit-content;
}

.lado-esquerdo {
  float: left;
  display: block;
  width: fit-content;
  height: 5;
}
