body{
  background-color: rgb(253, 251, 251);

}

header {
  display: flex ;
  justify-content: space-around;
  background-color:rgb(253, 251, 251);
  border-bottom: 05px solid rgb(0, 0, 0);
  padding: 10px 10px;
}